@import "tailwindcss";

/* 🌞 Light theme (default) */
@theme {
  --color-coal: #2e3944;
  --color-title: #2e3944;
  --color-pinky: #ee4c7c;
  --color-main: #d72d60;
  --color-main-hover: #bf0e43;
  /* old button colors: */
  --color-darkpink: #e82e65;
  --color-darkpinkhover: #bf0e43;
  /* - */
  --color-turkis: #17e9c9;
  /* color on price cards: */
  --color-maldive: #15b6a3;
  --color-cyan: #45a8c0;
  --color-lightpink: #ff8fb0;
  --color-paperwhite: #f2f2f2;
  --color-lightgray: #e6e6e6;
  --color-white-hover: #c5c5c5;

  --font-oswald: "Oswald", sans-serif;
  --font-gothisk: "Special Gothic Expanded One", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 🌙 Dark theme overrides */
.dark {
  --color-coal: #2e3944;
  --color-paperwhite: #161c22;
  --color-pinky: #ff6392;
  --color-cyan: #5fd3f3;
  --color-white: #ffffff;
  --color-title: #fff;
}

/* Optional: Force light mode as default */
:root {
  color-scheme: light;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--color-main);
  cursor: pointer;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: fit-content;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.cta-btn:hover {
  background: var(--color-main-hover);
}

.discrete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--color-main);
  background: transparent;
  color: var(--color-main);
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: fit-content;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.discrete-btn:hover {
  background-color: var(--color-main);
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-main);
  font-size: 16px;
  transition: color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.links:hover {
  color: var(--color-main-hover);
}

.cardstyle {
  transition: all 0.4s ease;
}

.cardstyle:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);

  transition: all 0.4s ease;
  cursor: pointer;
}

@keyframes loop-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop-left {
  animation: loop-left 40s linear infinite;
  will-change: transform;
}
