@import "tailwindcss";

/* 🌞 Light theme (default) */
@theme {
  --color-coal: #2e3944;
  --color-title: #2e3944;
  --color-pinky: #ee4c7c;
  --color-darkpink: #e82e65;
  /* darkpink #D72D60 på cookie window */
  --color-darkpinkhover: #bf0e43;
  --color-turkis: #17e9c9;
  --color-maldive: #15b6a3;
  --color-cyan: #45a8c0;
  --color-lightpink: #ff8fb0;
  --color-paperwhite: #f2f2f2;

  --font-koulen: "Koulen", sans-serif;
}

/* Global font */
.koulen {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 🌙 Dark theme overrides */
.dark {
  --color-coal: #2e3944;
  --color-paperwhite: #161c22;
  --color-pinky: #ff6392;
  --color-cyan: #5fd3f3;
  --color-white: #ffffff;
  --color-title: #fff;
}

/* Optional: Force light mode as default */
:root {
  color-scheme: light;
}

@keyframes loop-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop-left {
  animation: loop-left 40s linear infinite;
  will-change: transform;
}
